<div class="card">
    <div class="card-header text-center">
        <h3>Encomendas</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Itens encomendados</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loading">
                          <td colspan="5" class="text-center">
                              <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                          </td>
                      </tr>
                      <tr *ngIf="encomendas && encomendas.length == 0">
                          <td colspan="5" class="text-center">
                              Não existem encomendas
                          </td>
                      </tr>
                      <tr *ngFor="let encomenda of encomendas">
                          <td>{{encomenda._id}}</td>
                          <td>
                              <button class="btn btn-dark" title="Ver produtos encomendados" (click)="showItens(encomenda.itens)">
                                  <i class="fas fa-arrows-alt"></i>
                              </button>
                          </td>
                          <td>
                              <button class="btn btn-dark" title="Apagar encomenda">
                                  <i class="fas fa-trash-alt"></i>
                              </button>
                          </td>
                      </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
