<div class="card">
    <div class="card-header text-center">
        <h3>Encomendas</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    Nova encomenda
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                        </tr>
                        <tr>
                            <th>Itens encomendados</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="loading">
                          <td colspan="5" class="text-center">
                              <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                          </td>
                      </tr>
                      <tr *ngIf="encomenda && encomenda.length == 0">
                          <td colspan="5" class="text-center">
                              Não existem receitas
                          </td>
                      </tr>
                      <tr *ngFor="let encomenda of encomendas">
                          <td>{{encomenda._id}}</td>
                          <td>
                              <button class="btn btn-dark" title="Ver prescrições" (click)="showPrescription(receita.prescricoes)">
                                  <i class="fa fa-eye"></i>
                              </button>
                              <a class="btn btn-success" title="Editar receita" [routerLink]="['/receitas', receita._id, 'editar']" *ngIf="authService.hasRole('medico')">
                                  <i class="fa fa-pencil"></i>
                              </a>
                              <a class="btn btn-success" title="Ver detalhes" [routerLink]="['/receitas', receita._id, 'detalhes']" *ngIf="authService.hasRole('utente')">
                                  <i class="fa fa-external-link"></i>
                              </a>
                          </td>
                      </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
