<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card text-center bg-primary">
        <div class="card-body">
          <h1>Encomenda de armários</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          Encomendas
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Produtos
        </div>
      </div>
    </div>
  </div>
</div>
