<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" routerLink=""></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <ul class="nav navbar-nav ml-auto">
        <app-notifications></app-notifications>
        <li class="nav-item dropdown mr-4" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="assets/img/avatars/default.png" class="img-avatar">
            </a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">
                        <i class="fa fa-feed"></i> Início
                    </a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer class="app-footer">
    Armários á sua medida &copy; 2018 ARQSI - <a href="https://www.isep.ipp.pt/Home">ISEP</a>
    <span class="float-right">Joel Coelho & Rui Cruz</span>
</footer>
